{% extends 'base.html' %}
{% block head %}
    <title>Add Service Request</title>
{% endblock head %}

{% block body %}
    <div class="alert alert-secondary text-center" role="alert"><strong><h3>New Parking Lot</h3></strong></div>

<div class="container mt-5">
    <form class="row g-3" method="POST" action="{{url_for('add_service_request')}}">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Service Title</label>
    <input name="service_title" type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-3">
    <label for="service_type" class="form-label">Service Type</label>
    <select name="service_type" class="form-select" aria-label="role" required>
        <option value="" selected disabled>Choose Service Type</option>
        
        <option value="Electrician">Electrician</option>
        <option value="Plumber">Plumber</option>
        <option value="Carpenter">Carpenter</option>
        <option value="Teacher">Teacher</option>
        <option value="Mason">Mason</option>
        <option value="Technician">Technician</option>
        <option value="Welder">Welder</option>
        <option value="Maid">Maid</option>
        <option value="Labour">Labour</option>
        <option value="Barber">Barber</option>
        <option value="General Physician">General Physician</option>
        <option value="Consultant">Consultant</option>
        <option value="Priest">Priest</option>
        <option value="House Cleaning">House Cleaning</option>
        <option value="Chef">Chef</option>
    </select>
</div>
  <div class="mb-3">
  <label for="inputAddress" class="form-label">Service Description</label>
  <textarea name="service_desc" class="form-control" id="inputAddress" rows="3" placeholder="Please describe your service in detail"></textarea>
</div> 
  <div class="col-md-2">
    <label for="inputMaxSlots" class="form-label">Budget</label>
    <input name="budget" type="number" class="form-control" id="inputMaxSlots" placeholder="eg: 100">
  </div>

  <div class="col-12 text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{{url_for('consumer_dashboard')}}" class="btn btn-secondary">Cancel</a>
  </div>
</form>
</div>
{% endblock body %}